<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="windows-1256">
<title>About Us</title>
<div th:replace="fragments :: bootstrap">BootStrap</div>
</head>
<body>

<div class="container">
		  <!-- Content here -->
		<div th:replace="fragments :: header"></div>
		
		<p>We Are Company for Sell All Products We Have for Less Price </p>
		<p>The Website Making By <b>Ahmed Badry Ghareeb</b> </p>
		<p>Phone Number : <b>1118001104</b></p>
		<p> Email :<b>ahmed.badry258@gmail.com</b> </p>
		
		
		<div th:replace="fragments :: footer">Footer</div>
</div>
</body>
</html>