<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="windows-1256">
<title>Insert title here</title>
<div th:fragment="bootstrap">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</div>
</head>
<body>

<div th:fragment="header">
<div style="float: left;" sec:authories="isAuthenticated()">
		<b><span sec:authentication="name">Username or Email</span></b>
		<div sec:authorize="hasAnyAuthority('ADMIN','USER')" >
		<label>Welcome :</label><b><span sec:authentication="principal.fullName"  >Full Name</span></b>
		</div>
	</div>
	<div style="float: right" sec:authorize="hasAnyAuthority('ADMIN','USER')" >
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Logout">
		</form>
	</div>
	<div style="clear: both;"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" th:href="@{/}">Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" th:href="@{/}" >Home </a>
      <a class="nav-item nav-link" th:href="@{/aboutus}">About Us</a>
      <a class="nav-item nav-link" th:href="@{/contact}">Contact Us</a>
      <a class="nav-item nav-link" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>
      <a class="nav-item nav-link" th:href="@{/cart}" >Cart</a>
      <a class="nav-item nav-link" th:href="@{/profile}"  sec:authorize="hasAnyAuthority('ADMIN','USER')">My Profile</a>
      <a class="nav-item nav-link" th:href="@{/management}"  sec:authorize="hasAnyAuthority('ADMIN')">Management</a>
    </div>
  </div>
</nav>
  	<img src="/images/store.png" style="margin-left: 35% ; width: 350px;"/>
</div>

<div th:fragment="navbar">
		<table border="1" class="table table-dark" >
				<tr >
						<td><a th:href="@{/Mobiles}">Mobiles</a></td>
						<td><a th:href="@{/Laptops}">Laptops</a></td>
						<td><a th:href="@{/TVs}">TVs</a></td>
						<td><a th:href="@{/Kitchen}">Kitchen</a></td>
						<td><a th:href="@{/Food}">Food</a></td>
						<td><a th:href="@{/Drinks}">Drinks</a></td>
						<td><a th:href="@{/Books}">Books</a></td>
						<td><a th:href="@{/Toys}">Toys</a></td>
						<td><a th:href="@{/Sports}">Sports</a></td>
				</tr>
		</table>
</div>

<div th:fragment="footer" >
	<footer class="bg-dark text-center text-white">
		  <!-- Copyright -->
		  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		    <p>Store Shop Made By Ahmed Badry Copyright &copy;2021 </p>
		  </div>
		  <!-- Copyright -->
	</footer>
</div>

</body>
</html>